*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed' !important;
}

/* -- HEADER -- */
header ul li .btn{
     background-color: #081158;
}

/* --  CAROUSEL  SECTION  -- */
.carousel{
    padding-top: 180px;
}
.carousel::before{
    content: "";
    background-image: url(../img/carousel-back.svg);
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom left ;
} 
.carousel-content h6{
    background-color: rgba(251, 178, 68, 0.2);
    color: #FBB244;
}
.carousel-content h1{
    color: #081158;
}
.carousel-content p + a{
    background-color:  #081158;
}
.carousel-content p + a + a{
    border: 1px solid  #081158;
    color:  #081158;
}
.carousel-control-prev, .carousel-control-next{
    width: 50px !important;
    height: 50px;
    top: 50% !important;
}
.carousel-control-prev{
    left: 40px !important;
}
.carousel-control-next{
    right: 40px !important;
}

/* --  FEATURE SECTION  -- */
.feature{
    padding:  80px 0px;
}
.feature-title{
    margin-bottom: 80px;
}
.feature-title span{
    background-color: rgba(251, 178, 68, 0.2);
    color: #FBB244;
}
.feature-title h2{
    color: #081158;
}
.feature-item h4{
    color: #081158;
}
.feature-item::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FBB244;
    border-radius: 50%;
     left: 50%;
     top: -10px;
     z-index: -1;
}

/* -- ABOUT SECTION -- */
.about{
    padding: 80px 0px;
}
.about-content span{
    background-color: rgba(251, 178, 68, 0.2);
    color: #FBB244;
}
.about-content h2{
    padding-right: 150px;
    color: #081158;
}
.about-content a{
    background-color: #081158;
}

/* -- SERVICES SECTION -- */
.services{
    padding: 80px 0px;
}
.service-title {
    margin-bottom: 80px;

}
.service-item ul li::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FBB244;
    border-radius: 50%;
     left: 5px;
     top: 0;
     z-index: -1;
}
.service-title span{
    background-color: rgba(251, 178, 68, 0.2);
    color: #FBB244;
}
.service-title h2{
    color: #081158;
}

/* TESTIMONIAL */
.testimonial{
    padding: 100px 0px;
}
.testimonial-title span{
    background-color: rgba(184, 112, 2, 0.2);
    color: #FBB244;
}
.testimonial-title h2{
    color: #081158;
}

/* FOOTER */

.footer-inner .col-8 .footer-item li{
    padding:5px 12px;
    background-color: #081158;
}